@layout('layouts/main')
@set('title', 'Not Found')


@section('body')

<link rel="stylesheet" href="../styles/not-found.css">


<section>
  <h1>404 - Page NOT FOUND<h1>
  <h4>This is not the webpage that you are looking for!<h4>  
</section>


@end