@layout('layouts/main')
@set('title', 'Not Found')


@section('body')

<link rel="stylesheet" href="../styles/unauthorized.css">


<section>
  <h1>401 - Unauthorized<h1>
  <h4>You need permissions to access this part!<h4>  
</section>


@end